.btn {
  background-color: $white;
  min-width: 40px;
  height: 40px;
  border-radius: $borderUi;
  box-shadow: $shadowMain;
  border: 0;
  transition: .3s ease;
  transition-property: transform, box-shadow;
  cursor: pointer;
  position: relative;
  &:before {
    font-size: $iconFz;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
  }

  &:hover {
    box-shadow: $shadowHover;
    transform: translateY(-1px);
  }

  &:active {
    transform: translateY(1px);
  }
}
