.select {
  background-color: $white;
  box-shadow: $shadowMain;
  border-radius: $borderUi;
  position: relative;
  width: 250px;
  height: 40px;
  padding: 8px 12px;
  box-sizing: border-box;
  font-size: $smallFz;
  line-height: $smallLh;
  cursor: pointer;
  user-select: none;
  transition: .3s ease box-shadow;

  &:before {
    font-family: 'icon';
    content: '\e900';
    font-size: 16px;
    color: $dark;
    position: absolute;
    top: 8px;
    right: 12px;
    transition: .3s ease;
    transition-property: transform, color;
  }

  &:hover {
    box-shadow: $shadowHover;

    .select__options {
      box-shadow: $shadowHover;
    }
  }

  &.active {
    &:before {
      transform: rotate(180deg);
    }
  }

  &__options {
    position: absolute;
    top: 42px;
    left: 0;
    background-color: $white;
    box-shadow: $shadowMain;
    border-radius: $borderUi;
    width: 100%;
    height: 120px;
    box-sizing: border-box;
    transition: .3s ease box-shadow;
    overflow: hidden;
  }

  &__option {
    border-top: 1px solid $selectDivider;
    width: 100%;
    min-height: 40px;
    padding: 8px 12px;
    box-sizing: border-box;
    transition: 0.3s ease background-color;

    &:hover {
      background-color: $selectHover;
    }
  }
}

//transition
.option-enter-active, .option-leave-active  {
  transition: height 150ms ease;
}

.option-enter, .option-leave-to {
  height: 0px;
}
